body{
    margin: 0 !important;
    padding: 0 !important;
    font-family: Arial, sans-serif !important;
    text-align: center !important;
    background-color: #f4f4f4 !important;
}

header{
    background-color: #333 !important;
    color: #fff !important;
    font-size: 24px !important;
    padding: 1em !important;
}

footer{
    background-color: #333 !important;
    color: #fff !important;
    padding: 0.8em !important;
}
/* Area de Navegação*/
nav{
    background-color: aquamarine !important;
    padding: 0.5em !important;
}

nav a {
    text-decoration: none !important;
    color: #333 !important;
    font-weight: bold !important;
    padding: 0.5em !important;
}

nav a:hover{
    background-color: aqua !important;
}


main{
    background: rgb(210, 192, 192) !important;
    max-width: 50em !important;
    margin: auto !important;
    padding: 2em !important;
    margin-top: 1em !important;
    border-radius: 1em !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}

/*DIVs*/
.box-container{
    display: flex !important;
    justify-content: space-around !important;
}

.box{
    background-color: blue !important;
    width: 100px !important;
    height: 100px !important;
    color: white !important;
    font-size: 20px !important;
    font-weight: bold !important;
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
}

#primeira{
    background-color: green !important;
}

#terceira{
    background-color: red !important;
}

.image-container{
    display: flex !important;
    justify-content: center !important;
    gap: 2em !important;
}

.image-container img{
    border-radius: 1em !important;
}